[submodule "DEFw"]
	path = DEFw
	url = git@github.com:openQSE/DEFw.git
	# The submodule pointer tracks release/v0.1, not master. master is many
	# commits behind and does not contain the pinned commit, so declaring it
	# here made "git submodule update --remote" move DEFw backwards.
	branch = release/v0.1
[submodule "external/qhw-data"]
	path = external/qhw-data
	url = git@github.com:openQSE/qhw-data.git
[submodule "external/qhw-iqm"]
	path = external/qhw-iqm
	url = git@github.com:openQSE/qhw-iqm.git
[submodule "external/qhw-admission"]
	path = external/qhw-admission
	url = git@github.com:openQSE/qhw-admission.git
[submodule "external/qhw-scheduler"]
	path = external/qhw-scheduler
	url = git@github.com:openQSE/qhw-scheduler.git
