annotated-types==0.7.0
Authlib==1.7.0
attrs==26.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==47.0.0
googleapis-common-protos==1.74.0
grpcio==1.80.0
idna==3.13
importlib_metadata==8.7.1
Jinja2==3.1.6
joserfc==1.6.4
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
numpy==2.4.4
numpy-typing-compat==20251206.2.4
opentelemetry-api==1.41.0
opentelemetry-exporter-otlp==1.41.0
opentelemetry-exporter-otlp-proto-common==1.41.0
opentelemetry-exporter-otlp-proto-grpc==1.41.0
opentelemetry-exporter-otlp-proto-http==1.41.0
opentelemetry-proto==1.41.0
opentelemetry-sdk==1.41.0
opentelemetry-semantic-conventions==0.62b0
optype==0.17.0
orjson==3.11.8
packaging==24.2
protobuf==6.33.6
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
python-rapidjson==1.20
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.3
rpds-py==0.30.0
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.11
six==1.16.0
types-protobuf==7.34.1.20260408
types-requests==2.33.0.20260408
types-six==1.17.0.20260408
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
zipp==3.23.1
